# Build output
.task
bin

# Frontend
frontend/dist
frontend/node_modules

# Generated at build time (wails3 task ...)
*.syso
build/linux/dms-gui.desktop
build/linux/appimage/build
build/linux/appimage/dms-gui
build/linux/appimage/dms-gui.png
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
